.camera-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.camera-container video{
    margin-top: 5vh;
    height: 90%;
    width: 90%;

    background-color: black;
    border-radius: 4px;
    border: 1px solid black;
}

.camera-container canvas{
    height: 90%;
    width: 90%;
    display: none;
}

.camera-container .screanshots{
    position: absolute;
    display: flex;

    align-items: flex-end;
    flex-direction: column;
    top: 8%;

    height: 98%;
    width: 13%;
    left: 83.7%;
    
    pointer-events: none;
    overflow: hidden;
    overflow-y:auto;
}
  
.screanShot:hover,
.save:hover
{
    transform: scale(1.2);
} 
.screanShot,
.save
{
    transition: all 1s ease;
} 

.camera-container .screanshot-img{
    margin-bottom: 7%;
    height: 10%;
    width: 70%;
    /* top: 83%;
    left: 84%; */
    transition: all .5s;
    z-index: 2;
    pointer-events: all;

}

.camera-container .screanshot-img:hover{
    /* height: 12%;
    width: 12%; */
    transition: all .5s;
}

.camera-container .screanshot-img .fa-circle-xmark{
    position: relative;
    font-size: 150%;
    height: 18%;
    width: 18%;
    /* background-color: aqua; */
    top: 21%;
    left: 58%;
    z-index: 3;
    pointer-events: all;
    color: rgb(255, 255, 255);

}
.camera-container .screanshot-img img{
    position: relative;
    height: 100%;
    width: 100%;
    left: -46px;
    z-index: 2;
    pointer-events: all;
    border-radius: 4px;
    border: 1px solid #fff;

}


.camera-container .show-photo{
    opacity: 1;
    animation: showPhoto .6s ;
    transform: scale(1);
    display: flex;
}

@keyframes showPhoto {
    from {
        height: 10%;
        width: 10%;
        top: 83%;
        left: 84%;
    }
    to {
        height: 90%;
        width: 90%;
        top: 6%;
        left: 5%;
    }
}

/* .camera-container .visualize{
    position: absolute;
    opacity: 1;
    animation: visualizePhoto .6s forwards;
    transform: scale(1);
    display: flex;
}

@keyframes visualizePhoto {
    from {
        
    }
    to {
        height: 95%;
        width: 90%;
        left: 5%;
        z-index: 10;
    }
} */


.camera-container .controls{
    position: relative;
    bottom: 10%; 
    height: 10%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.camera-container .controls > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    height: 100%;
    width: 50%;
    border-radius: 4vh;
    border: 3px solid #fff;
}
.controls{
    display: flex;
    gap: 1.2rem;
}
.camera-container .fa-solid{
    font-size: 4vh;
    pointer-events: none;
}

.camera-container .select-camera{
    position: relative;
    width: 15%;
    background: transparent;
    color:#fff;
    top: 90.7%;
    left: 20%;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
    padding: .5%;
    border: 3px solid #fff;
    border-radius: 12px;
    outline: none;
}

/* modal img */

.visualize{
    position: fixed; 
    left: 0;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    top: -100%;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.visualize.show {
    top: 0;
    opacity: 1;
}

.visualize-img{
    position: relative;
    top: 0vh;
    width: 90%;
    height: 98%;
    /* pointer-events: none; */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.8s ease;
}
   
@media screen and (min-width:1024px ) and (max-width: 1368px){
    .camera-container .screanshot-img img{
        left: -34px;
    }
    .camera-container .screanshot-img .fa-circle-xmark{
        left: 63%;
    }
}
/* Media Querys Celular */
@media (min-device-width:394px) and (max-device-width: 480px) {
    .camera-container .screanshot-img img{
        width: 90%;
    }
    .camera-container .screanshot-img .fa-circle-xmark{
        top: 21%;
        left: 47%;
    }
    .camera-container .controls{
      width:13%;
      height: 25%;
    }
    .camera-container .screanshots{
        width: 18%;
        left: 78%;
    }
}
/* Xiaomi */
@media (min-device-width:376px) and (max-device-width: 393px) {
    .camera-container .screanshot-img img{
        width: 85%;
        left:-18px;
    }
    .camera-container .screanshot-img .fa-circle-xmark{
        top: 21%;
        left: 60.2%;
    }
    .camera-container .controls{
      width:13%;
      height: 25%;
    }
    .camera-container .screanshots{
        width: 18%;
        left: 80%;
    }
}
/* Iphone 11 */
@media (min-device-width:300px) and (max-device-width: 375px) {
    .camera-container .screanshot-img img{
        width: 90%;
    }
    .camera-container .screanshot-img .fa-circle-xmark{
        top: 21%;
        left: 47%;
    }
    .camera-container .controls{
      width:13%;
      height: 25%;
    }
    .camera-container .screanshots{
        width: 20%;
        height: 100%;
        left: 73.2%;
    }
}
