.cls-1 {
    filter: url(#filter);
}

.cls-2 {
    fill: #1a1a1a;
    stroke: #de9f27;
    stroke-width: 1px;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5 {
    fill-rule: evenodd;
}
.cls-5 {
    fill: #000;
}
.cls-3 {
    fill: #010101;
}

.cls-4,
.cls-6 {
    fill: #e8bc68;
    stroke: #e8bc68;
    stroke-width: 6px;
}

[data-manzana]:hover {
    fill: #de9f27;
    cursor: pointer;
}
[data-lote]:hover {
    fill: #de9f27;
    cursor: pointer;
}
tspan {
    font-weight: 700;
    font-size: 25px;
}
.map svg {
    width: 100%;
    height: 100%;
}

/* ///////////////////////////// */

.map {
    height: 95%;
    width: 95%;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 1vh;
    overflow-x: auto;
    overflow-y: auto;
    cursor: move;
    /* overflow: hidden; */
}
