.menu {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
    align-items: center;
    background-color: #121010;
    padding: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    gap: 2rem;
}

.user {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.img_user img {
    width: 30px;
    border-radius: 50%;
}

.name_user {
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
}

/* .contact {
    background-color: rgb(4, 0, 255);
} */

.search {
    margin-left: auto;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#search-value {
    border-radius: 10px;
    width: 200%;
    padding: 5px;
}
#search-contact {
    width: 200px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    margin-left: 1.5rem;
    justify-content: center;
    cursor: pointer;
    font-family: Raleway;
    transition: all 1s;
}

#search-contact:hover {
    background-color: #de9f27;
    border-color: #de9f27;
}
/* Check */
.module-switch {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-type {
    color: #fff;
    width: 55px;
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
}
.toggle {
    display: flex;
    margin: 10px;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle input[type='checkbox']:checked + .toggle-slide {
    background-color: #44cc66;
}

.toggle .toggle-slide {
    background-color: rgb(211, 211, 211);
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggle .toggler {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggle.on input[type='checkbox']:checked + .toggle-slide .toggler {
    left: calc(100% - 19px - 3px);
}

.toggle.on .toggler {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
}
/* **************************************** */

/* .menu{
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20% 5%;
    grid-template-rows: 6% 94%;
    grid-template-areas:
        'menu menu menu menu menu menu'
} */

/* **************************************** */

.fracionamiento {
    position: relative;
    top: -50px;
    height: 130px;
    width: 230px;
    border-radius: 1vh;
    z-index: 1;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(163, 163, 163, 0.18),
        0 1px 10px 0 rgba(163, 163, 163, 0.18),
        0 3px 5px -1px rgba(163, 163, 163, 0.18);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nombre-desarrollo {
    /* height: 10%; */
    font-size: 14px;
    z-index: 0;
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 1vh 1vh 0 0;
}
.container-img {
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: #fff;
    border-radius: 1vh;
    box-shadow: 0 0.5px 1px 0 rgba(251, 251, 251, 0.904),
        0 0.5px 1px 0 rgba(251, 251, 251, 0.904),
        0 0.5px 1px -1px rgba(251, 251, 251, 904);

    pointer-events: none;
    display: flex;
    justify-content: center;
}

.container-img img {
    width: 100%;
    height: auto;
    padding: 15px;
    pointer-events: none;
    object-fit: contain;
    image-rendering: pixelated;
}

.fracionamiento:hover {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.menu-lateral.open,
.menu-lateral2.open {
    transform: translate(0, 0);
    transition: transform 0.4s ease;
}

#close {
    display: none;
}

.btn-menu,
.btn-menu2 {
    width: 25px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-menu span,
.btn-menu span:before,
.btn-menu span:after,
.btn-menu2 span,
.btn-menu2 span:before,
.btn-menu2 span:after {
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
}

.btn-menu span:before,
.btn-menu span:after,
.btn-menu2 span:before,
.btn-menu2 span:after {
    content: '';
    position: absolute;
    transition-duration: 0.2s;
}

.btn-menu span:before,
.btn-menu2 span:before {
    top: 0;
}

.btn-menu span:after,
.btn-menu2 span:after {
    bottom: 0;
}

.btn-menu .active,
.btn-menu2 .active {
    background: none;
}

.btn-menu .active::before,
.btn-menu2 .active::before {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
}
.btn-menu .active::after,
.btn-menu2 .active::after {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
}

.card-trato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 200px;
    margin: 2vh auto;
    background-color: #d3cfcf;
    border-radius: 15px 15px 8px 8px;
}

.card-trato p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.titulo-trato {
    width: 100%;
    height: 100%;
    padding: 3% 0px;
    background-color: black;
    border-radius: 15px 15px 0 0;
    font-weight: 500;
    text-align: center;
    display: grid;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.trato-cont {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-evenly;
    align-items: center;
    background-color: #d3cfcf;
    border-radius: 0 0 15px 15px;
    grid-gap: 5%;
    margin-top: 2%;
}

.btn-trato {
    padding: 8px 20px;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 5px;
}

.menu-lateral2 {
    /* background-color: #f0f0f0; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: top;
    transform: translate(89%, 0);
    transition: transform 0.3s ease;
    z-index: 3;
    padding-top: 20px;
    overflow-y: auto;
    width: 20vw;
    height: 88%;
    top: 8.9%;
    right: 0;
    position: absolute;
}


.btn-menu-deals {
    position: absolute;
    right: 87%;
    top: 40vh;
    width: 1.5vw;
    height: 8vh;
    z-index: 5;
    border: none;
    background-color: rgb(15, 15, 15);
    border-radius: 7px 0px 0px 7px;
    cursor: pointer;
    color: #fff;
}

.container-deals {
    position: absolute;
    top: 0.4%;
    left: 13%;
    height: 87vh;
    width: 87%;
    background-color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 4vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.container-deals > div::nth-last-child(1) {
    margin-bottom: 3vh;
    background-color: #44cc66;
}

/* .menu-lateral2::before {
    content: '';
    position: absolute;
    top: 0vh;
    right: 0vh;
    background-color: #d1a102;
    height: 5vh;
    width: 5vw;
    z-index: 10;
} */


/* style menu tratos*/
.deal-stage{
    text-align: center;
    height: 10%;
    font-size: larger;
    /* font-weight: bold; */
    width: 100%;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    word-break: break-all;
}

.container-seach-deals{
    height: 22px;
    width: 70%;
    position: relative;
    top: -2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.container-seach-deals > * {
    position: absolute;
}

.container-seach-deals .search-deal{
    border: 2px solid #000000;
    border-left: none;
    
    border-radius: 4px !important;
    height: 100%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin-left: 12%;
} 

.container-seach-deals > .fa-solid{
    position: absolute;
    
    z-index: 4;
    font-size: large;
    margin-left: 1%;
    color: #000;
}

.container-seach-deals > .fa-arrows-rotate:hover{
    cursor: pointer;
    color: #de9f27;
    transition: all .25s;
    transform: scale(1.1);
}

.container-seach-deals .fa-search{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 110%;
    width: 10%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: #fff;
    
}

.container-seach-deals .fa-arrows-rotate{ 
    left: 105%;
    right: 6%;
}
#search-fracc{
    color: #191919;
    padding: 5px 25px 5px 35px;
    border: 2px solid #000;
    border-radius: 7px;
    box-sizing: border-box;
    width: 225px;
}
.input-wrapper{
    position: relative;
    width: 271px;
    top: -20px;
    left: 20px;
}
.icon-search i{
    color: #191919;
    position: absolute;
    left: 12px;
    top: 65%;
    font-size: 16px;
    transform: translateY(-50%);
}


@media (min-device-width: 1921px) {
    
.container-deals {
        height: 90vh;
    }
    /* style menu tratos*/

.container-seach-deals{
    height: 22px;
    width: 70%;
    position: relative;
    top: -2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.container-seach-deals .search-deal{
    width: 200px;
} 

.container-seach-deals .fa-search{ 
    /* left: 83%; */
    
}

.container-seach-deals .fa-arrows-rotate{ 
    left: 105%;
}
}

@media (max-device-width: 480px) {
    
    .menu-lateral2 {
        position: absolute;
        width: 30%;
        height: 88%;
        top: 8.7%;
    }
    #zoom-in, #zoom-out{
        display: none;
    }
}