.menu {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
    align-items: center;
    background-color: #121010;
    padding: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    gap: 2rem;
}

.user {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.img_user img {
    width: 30px;
    border-radius: 50%;
}

.name_user {
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
    color: blanchedalmond;
}

/* .contact {
    background-color: rgb(4, 0, 255);
} */

.search {
    margin-left: auto;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#search-value {
    border-radius: 10px;
    width: 200%;
    padding: 5px;
}
#search-contact {
    width: 200px;
    background-color: #121010;
    border-color: #fff;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    margin-left: 1.5rem;
    justify-content: center;
}
/* **************************************** */

/* .menu{
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20% 5%;
    grid-template-rows: 6% 94%;
    grid-template-areas:
        'menu menu menu menu menu menu'
} */

/* **************************************** */

.fracionamiento {
    border: 2px solid black;
    height: 15vh;
    width: 90%;
    border-radius: 1vh;
    margin-bottom: 6vh;
    z-index: 1;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.nombre-desarrollo {
    /* height: 10%; */
    z-index: 0;
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 1vh 1vh 0 0;
}
.container-img {
    height: 100%;
    z-index: 0;
    background-color: #fff;
    border-radius: 0 0 1vh 1vh;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

    pointer-events: none;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
}
.container-img img {
    width: auto;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}
.map {
    background-color: #d3cfcf;
}

.menu-lateral.open {
    transform: translate(0, 0);
}
#close {
    display: none;
}
.btn-menu {
    width: 25px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.btn-menu span,
.btn-menu span:before,
.btn-menu span:after {
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
}

.btn-menu span:before,
.btn-menu span:after {
    content: '';
    position: absolute;
    transition-duration: 0.2s;
}

.btn-menu span:before {
    top: 0;
}

.btn-menu span:after {
    bottom: 0;
}

.btn-menu .active {
    background: none;
}

.btn-menu .active::before {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
}
.btn-menu .active::after {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
}
