.Linea-Division {
    width: 40%;
    height: 4px;
    background-color: #de9f27;
    margin-bottom:10px;
}
.titulo-recibo{
    margin: auto;
}
.container-wrap{
    position: fixed; 
    left: 0;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    top: -100%;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
    z-index: 4;
}
.container-wrap.show {
    top: 0;
    opacity: 1;
}
.container-modal {
    position: relative;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    /* pointer-events: none; */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: all 0.8s ease;
}
.modal {
    position: absolute;
    top: 11%;
    height: 88%;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* padding: 10px; */
    background: #fff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    scroll-behavior: smooth;
}

.formulario {
    column-count: 2;
    column-gap: 10px;
}

.centrado {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* **************************** */

.menu-form {
    z-index: 2;
    height: fit-content;
    width: 50%;
    position: absolute;
    top: 1.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    scroll-behavior: smooth;
    background-color: #373535;
    border-radius: 10px 10px 0 0;
}

.btn-menu-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.btn-menu-modal-active {
    position: absolute;

    background-color: rgb(91, 88, 121); /* borrar */
}

.container-blocks {
    position: absolute;
    /* top: 10%; */
    height: 100%;
    width: 415%;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
}

.container-block {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 103.75%;
    overflow: hidden;
    padding-left: 1.5%;
}

.container-sub-block {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Tab */
.tab {
    cursor: pointer;
    padding: 13px;
}

.tab.active {
    border-top: 3px solid #de9f27;
    background-color: #1a1919;
}
a {
    text-decoration: none;
    color: #fff;
}

.sub-block-small {
}
.sub-block-medium {
    /* height: 80%; */
}

.sub-block-big {
    height: 250%;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 86%;
    width: 45vw;
}
.block-presupuesto{
    justify-content: space-between;
}

.block > span {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
select {
    width: 80%;
}
.container-search {
    position: relative;
}

.btn-search {
    position: absolute;
    top: -48px;
    left: 112px;
    border: 1px solid #1a1919;
    background: #1a1919;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 5px;
}
.check {
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-submit {
    position: relative;
    width: 50px;
    height: 22px;
    border: 2px solid;
    border-color: #1a1919;
    background: #1a1919;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    left: -40px;
    top: -20px;
}
.tlte-block {
    height: 20px;
}
#btn-submit:hover {
    background: #de9f27;
    border-color: #de9f27;
}

input.invalid {
    border-width: 3px;
    border-color: rgb(254, 88, 88);
    animation: shake 300ms;
    border-radius: 5px;
}
/* input[type=date]{
    width: 77%;
    height: 20px;
} */
.container-block input[type=date],input[type=text],
input[type=number], input[type=email],[list]{
    height: 2.5vh;
    width: 150px;
    border-color: #000 !important;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius:  8px; 

}
.recibo-apartado{
    display: flex;
}

.titulo-recibo{
    margin-right: 20px;
}

@keyframes shake {
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

.iconos{
    display: flex;
    width: 18px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 21.5px;
    top: -25.5px;
    left: -20px;
    border: 2px solid #000 !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
    border-right: none;
}

.hide-icon{
    visibility: hidden;
}

/* input{
    border-color: #000 !important;
    border-left: none;
    height: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius:  8px; 
} */

input:disabled{
    border-color: rgb(106, 106, 106) !important;
}
.icon-disabled{
    border-color: rgb(106, 106, 106) !important;
}

i{
    font-size: 12px;
}

.banner{
    background-color: #de9f27;
    width: 50%;
    height: 25px;
    position: absolute;
    top: 8%;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border-radius: 0 0 10px 10px; */
}

.banner p{
    font-weight: bold;
}

@media (min-device-width: 576px) and (max-device-width: 915px) and (orientation:landscape){
    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: fit-content;
    }
    .container-block {
        overflow-y: auto;
        display: grid;
        grid-template-columns: 100%;
        padding: 0%;
        height: 100%;
    }
    .container-blocks{
      top:1%
    } 
    .title-block{
        margin-top: 50px;
    }
    .Linea-Division {
        margin-bottom: 20px;
    }
    .modal {
        top:50px;
        width: 50%;
        height: 85%;
        gap: 2rem;
    }
    .menu-form {
        width:50%;
        top: 2%;
    }
    a {
        font-size: 20px;
    }
    label{
        font-size: 12px;
    }
    .centrado {
        font-size: 14px;
    }
    input {
        width: 300px;
        height: 30px;
    }
    input[type=date]{
        width: 300px;
        height: 32.5px;
    }
    .btn-serch {
       width:60px;
       height: 30px;
       top: -75px;
       left: 236px;
    }
    .container-sub-block{
        gap:1rem;
        
    }
    .sub-block-big{
        height: fit-content;
    }
    .container-modal{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconos{
        top: -36px;
        height: 31.8px;
    }
    .banner{
        top: 12%;
    }
}

@media screen and (min-device-width:300px) and (max-device-width: 575px) {
    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: fit-content;
    }
    .container-block {
        overflow-y: auto;
        display: grid;
        grid-template-columns: 100%;
        padding: 0%;
        height: 100%;
    }
    .container-blocks{
      top:1%
    } 
    .title-block{
        margin-top: 50px;
    }
    .Linea-Division {
        margin-bottom: 20px;
    }
    .modal {
        top:50px;
        width: 41%;
        height: 85%;
        gap: 2rem;
    }
    .menu-form {
        width:41%;
        top: 2%;
    }
    a {
        font-size: 20px;
    }
    label{
        font-size: 12px;
    }
    .centrado {
        font-size: 20px;
    }
    .container-modal{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        width: 200px;
        height: 30px;
    }
    input[type=date]{
        width: 200px;
        height: 32px;
    }
    .btn-serch {
       width:60px;
       height: 30px;
       top: -55px;
       left: 136px;
    }
    .container-sub-block{
        gap:1rem;
        
    }
    .sub-block-big{
        height: fit-content;
    }
    .iconos{
        top: -36px;
        height: 32px;
    }
    .banner{
        top: 4%;
        width: 41%;
    }
}
