@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Lato:wght@400;700&display=swap');

* {
    /* font-size: 12px; */
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.logo-gc{
    width: 180px;
    height: 100px;
}
/* Div tooltip no creado */
.no-creado{
    line-height: 0.5;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20% 5%;
    grid-template-rows: 9% 91%;
    grid-template-areas:
        'menu menu menu menu menu menu'
        'container-map container-map container-map container-map container-map container-map ';
}
.map svg {
    width: 60%;
    height: 95%;
    cursor: move;
}

.logo-fracc{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
    opacity: 0.8;
    z-index: 2;
    pointer-events: none;
}
.nombre-fracc{
    position: absolute;
    top:10%;
    left: 5%;
    letter-spacing: 2px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #2d3436;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
    z-index: 2;
    pointer-events: none;
}
.img-fracc img{
    image-rendering: pixelated;
    max-width: 230px;
    max-height: 100px;
    width: auto;
    height: auto;
}
.map {
    height: 100%;
    border-radius: 1vh;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 2;
    background-color: #d3cfcf;
    display: grid;
    place-content: center;
}

.wrap-loader {
    height: 95%;
    width: 95%;
}

[data-manzana]:hover {
    cursor: pointer;
}
[data-disponible='true']:hover {
    animation: alternateColor 0.75s ease alternate infinite;
}

@keyframes alternateColor {
    0% {
        fill: #f3cf5b;
    }

    25% {
        fill: #f0be1c;
    }

    100% {
        fill: #d1a102;
    }
}

/* [data-disponible='false']:hover {
    animation: colorHover 0.75s ease alternate infinite;
}
@keyframes colorHover {
    0% {
        fill: #5d686f;
    }

    50% {
        fill: #47494e;
    }

    100% {
        fill: #5c5c5c;
    }
} */

image {
    pointer-events: none;
}
.menu,
.menu2 {
    grid-area: menu;
    border: 2px solid black;
}
.menu-lateral {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    transform: translate(-100vw, 0);
    transition: transform 0.8s ease-in;
    z-index: 3;
    padding-top: 20px;
    overflow-y: auto;
    width: 310px;
    height: 88%;
    top: 8.9%;
    position: absolute;
}

.menu-lateral::-webkit-scrollbar,
.container-deals::-webkit-scrollbar {
    width: 10px;
}
.menu-lateral::-webkit-scrollbar-thumb,
.container-deals::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(160, 158, 158);
}

.menu-lateral::-webkit-scrollbar-track,
.container-deals::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #eee8e8;
}

.container-map {
    grid-area: container-map;
    border-color: black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
/* Tooltip Lote */
#info-lote {
    width: 230px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;   
    line-height: 1px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 5pt;
    background-color: rgb(88, 80, 80);
    color: #fff;
    border-radius: 8px;
    position: absolute;
    display: none;
    z-index: 3;
}
svg .cls-0{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;   
}
/* Botones Zoom */
.zoom-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 65px;
    gap: 1rem;
}
.zoom {
    background-color: #de9f27;
    border-radius: 30%;
    /* z-index: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
}

.zoom:hover {
    background-color: #1a1a1a;
    cursor: pointer;
    transition: all 1s;
}

.zoom i {
    font-size: large;
    color: #fff;
}

/* Search container */
.search {
    position: relative;
}

.search-result {
    width: 55%;
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    margin-block: 2rem;
    top: 4px;
    right: 76px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}

.search-medium {
    width: 40vw;
    margin-block: 0px;
    left: 50%;
    z-index: 4;
}

.record {
    font-size: 1.2rem;
    padding: 10px;
}

.record > p {
    margin-block: 5px;
    padding: 0;
    color: #8a8a8a;
    font-size: 0.9rem;
    pointer-events: none;
}

.record > span {
    pointer-events: none;
}

.record:nth-child(even) {
    background-color: #fffef5;
}

.record:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

/* Contact container */
.contact {
    color: white;
    border-left: 3px solid #de9f27;
    padding-left: 8px;
}

.close-button {
    color: #fff;
    background: transparent;
    border: 2px solid #de9f27;
    border-radius: 50%;
    color: #de9f27;
    font-weight: bold;
    padding-top: 2px;
    margin: 5px;
    cursor: pointer;
}

.close-button span {
    pointer-events: none;
    font-size: 18px;
}


/* Loader */
#loader-mapa {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #121010;
    width: 100%;
    height: 100%;
    gap: 0.4rem;
}

#loader-mapa span {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #de9f27;
}

#loader-mapa span:nth-child(1) {
    animation: grow 1s ease-in-out infinite;
}

#loader-mapa span:nth-child(2) {
    animation: grow 1s ease-in-out 0.15s infinite;
}

#loader-mapa span:nth-child(3) {
    animation: grow 1s ease-in-out 0.3s infinite;
}

#loader-mapa span:nth-child(4) {
    animation: grow 1s ease-in-out 0.45s infinite;
}

#info-colors{
    position: absolute;
    top: 21%;
    left: 5%;
    cursor: pointer;
}
#info-colors i {
    font-size: xx-large;
    color: #464545;
}

.container-colors{
    position: absolute;
    background-color: #464545;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 2;
    display: none;
    top: 19%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
}
.color-lote{
    left: 8%;
}

.color-deals:after{
    content: "";
    position: absolute;
    right: -15px;
    margin-left: 50px;
    bottom: 20px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #464545;
}
.showCard {
    opacity: 1;
    animation: show .2s;
    transform: scale(1);
    display: flex;
}

@keyframes show {
    from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
    }
}
.indicador{
    display: flex;
    justify-content: left;
    gap: 15px;
}
.color{
    height: 12px;
    width: 12px;
    border-radius: 100%;
}

.estado{
    color: #e3e3e3;
    font-size: 11px;
}

blinkid-in-browser {
    --mb-component-action-label-font-size: 14px;
    --mb-component-border-style: none;
    --mb-component-button-size: 35px;
    --mb-font-weight: 700;
    --mb-component-action-buttons-justify-content: flex-end;
    --mb-component-background: transparent;
  }
  .scan{
    align-self: flex-start;
    z-index: 2;
    margin-top: 10px;
  }

@keyframes grow {
    0%,
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }

    50% {
        -webkit-transform: scaleY(1.8);
        -ms-transform: scaleY(1.8);
        -o-transform: scaleY(1.8);
        transform: scaleY(1.8);
    }
}


