@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

* {
    font-size: 14px;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20% 5%;
    grid-template-rows: 9% 91%;
    grid-template-areas:
        'menu menu menu menu menu menu'
        'menu-lateral container-map container-map container-map container-map container-map ';
}

.menu {
    grid-area: menu;
    border: 2px solid black;
}
.menu-lateral {
    background-color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}
.container-map {
    grid-area: container-map;
    border-color: black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Search container */
.search {
    position: relative;
    margin: 4rem;
}

.search-result {
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    margin-block: 2rem;
    top: 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.serch-medium {
    width: 40vw;
    margin-block: 0px;
}

.record {
    font-size: 1.2rem;
    padding: 10px;
}

.record > p {
    margin-block: 5px;
    padding: 0;
    color: #8a8a8a;
    font-size: 0.9rem;
    pointer-events: none;
}

.record > span {
    pointer-events: none;
}

.record:nth-child(even) {
    background-color: #fffef5;
}

.record:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

/* Contact container */
.contact {
    color: white;
}

.close-button {
    background: none;
    border: none;
    color: red;
}

.close-button span {
    pointer-events: none;
    font-size: 18px;
}

.close-button {
    cursor: pointer;
}

/* Movil Menu Lateral */

@media (min-width: 958px) {
    .cd {
        width: 200px;
    }
    .container {
        grid-template-areas:
            'menu menu menu menu menu menu'
            'container-map container-map container-map container-map container-map container-map ';
    }
    .menu-lateral {
        grid-area: menu-lateral;
        width: 20%;
        background-color: #2f2f2f;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
}

@media (min-width: 504px) {
    .cd {
        width: 200px;
    }
    .container {
        grid-template-areas:
            'menu menu menu menu menu menu'
            'container-map container-map container-map container-map container-map container-map ';
    }
    .menu-lateral {
        position: absolute;
        width: 25%;
        height: 91%;
        top: 8.9%;
        transform: translate(-500px, 0);
        transition: transform 0.3s ease;
    }
}

@media (max-device-width: 480px) {
    .cd {
        width: 200px;
    }
    .container {
        grid-template-areas:
            'menu menu menu menu menu menu'
            'container-map container-map container-map container-map container-map container-map ';
    }
    .menu-lateral {
        position: absolute;
        width: 60%;
        height: 100%;
        top: 8.9%;
    }
}
