.cls-1 {
    isolation: isolate;
  }
  .cls-2 {
    fill: #e7a343;
  }
  .cls-2,
  .cls-3,
  .cls-6 {
    stroke: #d48617;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-3 {
    fill: #e7a343;
  }
  .cls-4 {
    fill: #1c6577;
  }
  .cls-5 {
    fill: #fff;
  }
  .cls-6 {
    fill: #e2b481;
  }
  .cls-7 {
    fill: #d5d8a3;
  }
  .cls-8 {
    fill: #c9d190;
  }
  .cls-9 {
    fill: #dce0af;
  }
  .cls-10 {
    fill: #7d9d20;
  }
  .cls-11 {
    fill: #94bc1d;
  }
  .cls-12 {
    fill: #b6d755;
  }
  .cls-13 {
    fill: #876855;
  }
  .cls-14,
  .cls-20 {
    fill: #7a5f4c;
  }
  .cls-14 {
    opacity: 0.39;
  }
  .cls-14,
  .cls-17,
  .cls-18,
  .cls-20,
  .cls-27 {
    mix-blend-mode: screen;
  }
  .cls-15,
  .cls-21,
  .cls-25 {
    fill: #7d7d7d;
  }
  .cls-15,
  .cls-36 {
    opacity: 0.2;
  }
  .cls-15,
  .cls-16,
  .cls-21,
  .cls-22,
  .cls-26,
  .cls-29,
  .cls-30,
  .cls-31,
  .cls-33,
  .cls-34,
  .cls-35,
  .cls-37,
  .cls-40 {
    mix-blend-mode: multiply;
  }
  .cls-16 {
    fill: #6e6364;
    opacity: 0.66;
  }
  .cls-17,
  .cls-18 {
    opacity: 0.18;
  }
  .cls-18,
  .cls-19,
  .cls-26,
  .cls-27,
  .cls-29,
  .cls-30,
  .cls-31,
  .cls-32,
  .cls-33,
  .cls-34,
  .cls-35 {
    fill: #ababab;
  }
  .cls-20 {
    opacity: 0.82;
  }
  .cls-21 {
    opacity: 0.26;
  }
  .cls-22 {
    fill: #759151;
    opacity: 0.22;
  }
  .cls-23 {
    fill: #a1bc50;
  }
  .cls-24 {
    fill: #9dc06a;
  }
  .cls-25 {
    opacity: 0.17;
  }
  .cls-25,
  .cls-32 {
    mix-blend-mode: color-dodge;
  }
  .cls-26 {
    opacity: 0.68;
  }
  .cls-27 {
    opacity: 0.12;
  }
  .cls-28 {
    fill: #737373;
  }
  .cls-29 {
    opacity: 0.84;
  }
  .cls-30 {
    opacity: 0.29;
  }
  .cls-31 {
    opacity: 0.81;
  }
  .cls-32 {
    opacity: 0.23;
  }
  .cls-33 {
    opacity: 0.65;
  }
  .cls-34 {
    opacity: 0.28;
  }
  .cls-35 {
    opacity: 0.41;
  }
  .cls-38 {
    fill: #fbfbfb;
  }
  .cls-39,
  .cls-40 {
    fill: #e3e3e3;
  }
  .cls-41 {
    fill: #f5f5f5;
  }
  .cls-42 {
    fill: #435266;
  }

  [data-manzana]:hover {
    stroke: #141414;
    animation: popup 0.75s ease alternate infinite;
  }
  
  @keyframes popup {
    0% {
      stroke-width: 3px;
    }
    25% {
      stroke-width: 5px;
    }
    50% {
      stroke-width: 7px;
    }
    75% {
      stroke-width: 8px;
    }
    100% {
      stroke-width: 9px;
    }
}