.cls-1 {
    isolation: isolate;
  }
  .cls-2 {
    fill: #80bbc1;
  }
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-7 {
    stroke: #2ba0ba;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-3,
  .cls-4 {
    fill: #60bec9;
  }
  .cls-4 {
    opacity: 0.6;
  }
  .cls-5 {
    fill: #d7ae62;
  }
  .cls-6 {
    fill: #2b2a28;
  }
  .cls-7 {
    fill: #8dc4c6;
  }
  .cls-8 {
    fill: #398b99;
    opacity: 0.2;
  }
  .cls-9 {
    fill: #c9d190;
  }
  .cls-10 {
    fill: #7d9d20;
  }
  .cls-11 {
    fill: #94bc1d;
  }
  .cls-12 {
    fill: #b6d755;
  }
  .cls-13 {
    fill: #876855;
  }
  .cls-14,
  .cls-20 {
    fill: #7a5f4c;
    mix-blend-mode: screen;
  }
  .cls-14 {
    opacity: 0.39;
  }
  .cls-15,
  .cls-16,
  .cls-17,
  .cls-18,
  .cls-19,
  .cls-21 {
    fill: #ababab;
  }
  .cls-15 {
    opacity: 0.29;
  }
  .cls-15,
  .cls-16,
  .cls-18,
  .cls-19,
  .cls-21 {
    mix-blend-mode: multiply;
  }
  .cls-16 {
    opacity: 0.81;
  }
  .cls-17 {
    opacity: 0.23;
    mix-blend-mode: color-dodge;
  }
  .cls-18 {
    opacity: 0.65;
  }
  .cls-19 {
    opacity: 0.28;
  }
  .cls-20 {
    opacity: 0.82;
  }
  .cls-21 {
    opacity: 0.41;
  }
  [data-manzana]:hover{
    stroke: #d7ae62;
    animation: popup .75s ease alternate infinite;          
  }
  @keyframes popup {
    0% {
      stroke-width: 3px;
    }
    25% {
        stroke-width: 5px;
      }
    50% {
        stroke-width: 8px;
    }
    75% {
        stroke-width: 10px;
    }
    100% {
        stroke-width: 12px;
    }
    
  }